{% extends 'base.html' %}

{% block title %}Search-Result{% endblock title %}

{% block body %}

    <!--===== Search Result =====-->
    <div class="container mt-5">
        <h3>Search Result For - {{query}}</h3>
        <div class="mt-5 px-5">
            {% for i in data %}
            <a href="blog/{{i.slug}}" class="">
                <p class="card-title">{{forloop.counter}}. {{i.title}} :- {{i.short_des}}</p>
            </a>

            {% endfor %}
        </div>
    </div>

{% endblock body %}